<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!-- <uses-permission-sdk-23 android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYBYK"
        tools:targetApi="31">
        <activity
            android:name=".mycyclebooking"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".userpackagedetails"
            android:exported="false" />
        <activity
            android:name=".UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PackageDetails"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".CycleScanner"
            android:exported="false" />
        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7gJzYOT1_G-UELCjRafUSrsrcPyVWIGk" />

        <activity
            android:name=".map"
            android:exported="false" />
        <activity
            android:name=".scanner"
            android:exported="false" />
        <activity
            android:name=".CycleListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".addareacrud"
            android:exported="false" />
        <activity
            android:name=".editarea"
            android:exported="false" />
        <activity
            android:name=".arealist"
            android:exported="false" />
        <activity
            android:name=".addarea"
            android:exported="false" />
        <activity
            android:name=".isanpur"
            android:exported="false" />
        <activity
            android:name=".menuuser"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".otpvarificaion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.razorpay.CheckoutActivity"
            tools:ignore="MissingClass" />
    </application>

</manifest>